<div class="container mt-4">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-11 col-lg-8 col-xl-7 py-2">
      <h1>{{model.title}}</h1>
      <p>Now click "back" and the carousel doesn't work anymore.</p>
    </div>
  </div>
  <div class="row mb-4 justify-content-center">
    <div class="col-md-11 col-lg-8 col-xl-7 py-2">
      <img class="img-fluid rounded" src={{model.img}} alt={{model.alt}}>
    </div>
  </div>
</div>
